* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.thead-dark {
    background-color: #000000;
    color: #ffffff;
}

.nav-brand {
    background-color: #fa9b4d;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

.text-dark {
    text-decoration: none;
    font-size: larger;
    padding: 5rem 0;
}

.addButton {
    width: 60%;
    margin-top: 3rem;
}

.container2 {
    width: 100%;
    background-color: #ecebeb42;
    padding: 2em 22em;
    margin-top: 3rem;
    box-shadow: 8px 10px 22px 0 #c5c5c59c;
    border-radius: 41px;
}